In [ ]:
class Bank:
    #static
    bank_name = "Bank of HIT"
    bank_loc = "Haldia"
    bank_contact = "100"
    bank_code = 235234

    def __init__(self, username, contact, age, balance):
        self.username = username
        self.contact = contact
        self.age = age
        self.balance = balance

    #object method
    def change_contact(self, contact):
        self.contact = contact

    #object method
    def display(self):
        print(self.username, self.contact, self.age, self.balance)

    @staticmethod
    def is_valid_amount(amt):
        return amt > 0

    def withdraw_money(self, amt):
        if(self.balance >= amt and self.is_valid_amount(amt)):
            self.balance -= amt
        print("Withdrawn money:", amt)

    def deposit_money(self, amt):
        if self.is_valid_amount(amt):
            self.balance += amt
        print("Deposited money:", amt)

    @classmethod
    def bank_details(self):
        print(self.bank_name,"  code:", self.bank_code)

    @classmethod
    def change_code(self, newcode):
        self.bank_code = newcode



u4 = Bank("ABC", 7566435457, 24, 10000)
print(u4.bank_name, u4.username, u4.contact, u4.age)

u5 = Bank("Gamma", 9786573457, 20, 100)
u5.display()
u5.change_contact(9999999999)
u5.display()

Bank of HIT ABC 7566435457 24
Gamma 9786573457 20 100
Gamma 9999999999 20 100

In [3]:
u4.withdraw_money(1000)
u4.display()
u4.deposit_money(4000)
u4.display()

Withdrawn money: 1000
ABC 7566435457 24 9000
Deposited money: 4000
ABC 7566435457 24 13000

In [25]:
class A:
    a=10
    b=20

    @classmethod
    def display(cls):
        print(cls.a, cls.b)

class B(A):
    c=30
    def __init__(self, m):
        self.m = m

    def display(cls):
        print(cls.a, cls.b, cls.c, cls.m)

In [26]:
obj1 = A()
obj1.display()

10 20

In [27]:
obj2 = B(500)
obj2.display()

10 20 30 500

In [70]:
class Ten:
    def __init__(self, name, roll, tenth_marks):
        self.name = name
        self.roll = roll
        self.tenth_marks = tenth_marks

    def display(self):
        print(self.name, self.roll, self.tenth_marks)




class Twelve(Ten):
    def __init__(self, name, roll, tenth_marks, twelve_marks, stream):
        super().__init__(name, roll, tenth_marks)
        self.twelve_marks = twelve_marks
        self.stream = stream
        
    def display_details(self):
        super().display()
        print(self.stream, self.twelve_marks)




class Bachelors(Twelve):
    def __init__(self, name, roll, tenth_marks, twelve_marks, stream, course, branch, cgpa):
        super().__init__(name, roll, tenth_marks, twelve_marks, stream)
        self.course = course
        self.branch = branch
        self.cgpa = cgpa

    def display_all(self):
        super().display_details()
        print(self.course, self.branch, self.cgpa)

In [71]:
st1 = Twelve("John", 102, 90, 80, 'PCMB')
st1.display_details()

John 102 90
PCMB 80

In [72]:
st3 = Bachelors("Ron", 12, 90, 85, 'PCMB', 'BTech', 'CSE', 8.0)
st3.display_all()

Ron 12 90
PCMB 85
BTech CSE 8.0

In [ ]:
# s = {0, 1, 2, 9, 4}

# s.remove(9)
# s.remove(2)
# s

{0, 1, 4}

In [114]:
class A:
    a = "apple"
class B:
    a = "aman"

class C(A, B):
    c = "hiii"

c = C()
C.mro()

[__main__.C, __main__.A, __main__.B, object]

In [115]:
c.a

'apple'

In [116]:
class A:
    a = "apple"
class B:
    a = "aman"

class C(B, A):
    c = "hiii"

c = C()
C.mro()

[__main__.C, __main__.B, __main__.A, object]

In [117]:
c.a

'aman'

In [159]:
class A:
    a = 10
    b = 20
    def __init__(self, c, d):
        self.c = c
        self.d = d

class B(A):
    a = 1000

    @classmethod
    def display(cls):
        print(cls.a, cls.b)
        print(super().a, cls.b)

In [160]:
obj = B(4, 5)
obj.display()

1000 20
10 20

In [161]:
#roll, subject, marks,

In [184]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

class Student(Person):
    def __init__(self, name, age, roll, branch):
        super().__init__(name, age)
        self.roll = roll
        self.branch = branch

class Teacher(Person):
    def __init__(self, name, age, subject, experience):
        super().__init__(name, age)
        self.subject = subject
        self.experience = experience


class Academic(Student):
    def __init__(self, name, age, roll, branch, marks):
        super().__init__(name, age, roll, branch)
        self.marks = marks

class Sports(Student):
    def __init__(self, name, age, roll, branch, sport_name, level):
        super().__init__(name, age, roll, branch)
        self.sport_name = sport_name
        self.level = level

class AllRounderStudent(Academic, Sports):
    def __init__(self, name, age, roll, branch, marks, sport_name, level):
        Academic.__init__(name, age, roll, branch, marks)
        Sports.__init__(name, age, roll, branch, sport_name, level)

In [ ]:
st1 = AllRounderStudent("John", 20, 100, 'CSE', 87, 'football', 'district')

TypeError: Academic.__init__() missing 1 required positional argument: 'marks'

{'1': 'hii', '2': 'bye', '3': 'lol'}

In [45]:
import re
m = re.search("hi", "hiiiii hello hii")
n = re.findall(r"[\S]+", "hiiiii hello76 hii342 324566")
n

['hiiiii', 'hello76', 'hii342', '324566']

In [49]:
l =[2, 3, -8, 7, -1, 2, 3]
mxv = 0
v = 0
for i in l:
    v += i
    if(v<0):
        v=0
    mxv = max(mxv, v)

mxv

11