In [1]:
import re
m = re.search("hell", "hello world")
m

In [2]:
print("\n")
print(r"\n")

\n

In [3]:
m = re.search(r"\d+", "Age is 23")
print(m)
print(m.group())

<re.Match object; span=(7, 9), match='23'>
23

In [4]:
m = re.search(r"\d{5,10}", "Age is 2324343")
print(m)
print(m.group())

<re.Match object; span=(7, 14), match='2324343'>
2324343

In [5]:
print(re.search(r"colou?r", "color"))
print(re.search(r"colou?r", "colour"))

<re.Match object; span=(0, 5), match='color'>
<re.Match object; span=(0, 6), match='colour'>

In [6]:
re.findall(r"\d+", "hi12 30ok555")

['12', '30', '555']

In [7]:
even_odd = lambda n: "Even" if n % 2 == 0 else "Odd"
print(even_odd(5))

Odd

In [8]:
is_float = lambda x: "Float" if type(x) == float else "Not float"
print(is_float(10.5))

Float

In [9]:
add = lambda a, b, c: a+b+c
print(add(10, 20, 30))

60